<div class="widget">
  <ul class="nav sidebar-categories margin-bottom-40">
  <%
    const compareFunc = (a, b) => b.posts.length - a.posts.length;
    const categoryRanks = site.categories.data.sort(compareFunc)

    let categoryListHTML = "";
    categoryRanks.forEach(function(c) {
      let className = "";
      if (is_category(c.name)) {
        className = "category-list-current"
      }
      categoryListHTML += `<li class="${className}"><a href="${url_for(c.path)}">${c.name} (${c.length})</a></li>\n`
    });
  %>
  <%- categoryListHTML %>
  </ul>
</div>
