<% if (site.tags.length){ %>
  <div class="widget-wrap">
    <div class="widget">
      <%- list_toppagetags({show_count: true, minCount: theme.tag_display_min_count, transform(str) {
        if (str === "Go") {
          return "Go言語";
        }
        return str;
      }}) %>
    </div>
  </div>
<% } %>
