<% if (site.tags.length){ %>
  <div class="widget-wrap">
    <div class="widget">
      <% function addIcon(name){ return "<i>#</i>" + name} %>
      <%- list_tags({ transform: addIcon, show_count: true}) %>
    </div>
  </div>
<% } %>
