<!-- START SIDEBAR  -->
<% if (!is_post()) { %>
<form id="cse-search-box" action="https://google.com/cse" class="search-wrapper">
  <input type="text" name="q" placeholder="検索" />
  <button type="submit" formtarget="_blank" name="sa" value="検索">
    <span></span>
  </button>
  <input type="hidden" name="cx" value="7f77887fafdb7bb62" />
  <input type="hidden" name="ie" value="UTF-8" />
</form>
<% } %>
<% if (is_post()) { %>
<section class="toc-section">
  <h2 class="margin-top-30">目次</h2>
  <%- toc(page.content, {list_number:false, max_depth:4}) %>
</section>
<% } %>
<section class="category">
<h2 class="margin-top-30">カテゴリー</h2>
<%- partial('_widget/category.ejs') %>
</section>
<section class="podcast-link">
<h2 class="margin-top-30">Tech Cast</h2>
<%- generate_techcast_post() %>
</section>
<section class="advent-calendar">
<h2 class="margin-top-30">アドベントカレンダー</h2>
<%- partial('_widget/advent-calendar.ejs') %>
</section>
<!-- END SIDEBAR -->
