<% if (post.tags && post.tags.length){ %>
  <ul>
  <% post.tags.forEach(function(tag, i){ %>
    <li><a href="/<%= tag.path %>" title="<%= tag.name %>タグの記事へ"><%= tag.name %></a><% if (i != post.tags.length - 1){ %></li> <% } %>
  <% }); %>
  </ul>
<% } %>
