<% if (post.tags && post.tags.length){ %>
  <ul>
  <% post.tags.forEach(function(tag, i){ %>
    <%
      let displayTagName = tag.name;
      if (displayTagName === "Go") { // Lighthouse対応
        displayTagName = "Go言語";
      }
     %>
    <li><a href="/<%= tag.path %>" title="<%= tag.name %>タグの記事へ"><%= displayTagName %></a><% if (i != post.tags.length - 1){ %></li> <% } %>
  <% }); %>
  </ul>
<% } %>
