<h2 itemprop="name" class="<%= class_name %>"><%= post.title %>
  <% if (is_post()) {%>
  <a href="https://github.com/future-architect/tech-blog/edit/master/source/<%= page.source %>" title="Suggest Edits" class="github-edit"><i class="github-edit-icon"></i></a>
  <% } %>
</h2>
