<!-- START ACTIVITIES -->
<div class="activities col-xs-12">
  <ul class="list-inline pull-left">
    <li>
      <a href="/events">
        <div class="event">講演・メディア掲載</div>
      </a>
    </li>
    <li>
      <a href="/slides">
        <div class="slide">開発者向け発表資料</div>
      </a>
    </li>
    <li>
      <a href="https://github.com/future-architect">
        <div class="github-fa">GitHub</div>
      </a>
    </li>
    <li>
      <a href="http://qiita.com/organizations/future">
        <div class="qiita-o">Qiita</div>
      </a>
    </li>
  </ul>
</div>
<!-- END ACTIVITIES -->
