<!-- BEGIN HEADER -->
<div class="header">
	<div class="header-overlay">
		<!--<a class="site-logo" href="<%- url_for() %>" id="logo"><%= config.title %></a>-->
		<div class="header-menu">
			<!-- <a class="site-logo" href="/">
				<img src="<%- url_for('metronic/assets/corporate/img/site_logo.png') %>" alt="logo" class="logo-img" width="180px">
			</a> -->
			<!-- <a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a> -->
			<!-- BEGIN NAVIGATION -->
		
		</div>
		<!-- END NAVIGATION -->
		<div class="header-title"><a href="/">Future Tech Blog</a></div>
		<div class="header-title-sub">フューチャー技術ブログ</div>

	</div>
</div>
<!-- Header END -->
