<!-- START OSS -->
<div class="oss">
  <ul class="list-inline pull-left">
    <li>
      <a href="https://github.com/future-architect/vuls" target="_blank">
          <img src="<%- url_for('metronic/assets/corporate/img/Vuls.png') %>" alt="Vuls">
      </a>
    </li>
    <li>
      <a href="https://future-architect.github.io/uroborosql-doc/" target="_blank">
          <img src="<%- url_for('metronic/assets/corporate/img/uroboroSQL-logo.png') %>" alt="uroboroSQL">
      </a>
    </li>
    <li>
      <a href="http://future-architect.github.io/urushi/" target="_blank">
          <img src="<%- url_for('metronic/assets/corporate/img/Urushi-logo.png') %>" alt="Urushi">
      </a>
    </li>
  </ul>
</div>
<!-- END OSS -->

