<!-- CATEGORIES START -->
<h3 class="margin-top-30">カテゴリー</h3>
<%- partial('_widget/category.ejs') %>
<!-- CATEGORIES END -->
<!-- START ADVENT CALENDAR -->
<h3 class="margin-bottom-20">アドベントカレンダー</h3>
<%- partial('_widget/advent-calendar.ejs') %>
<!-- END ADVENT CALENDAR -->
