<!-- CATEGORIES START -->
<h2 class="margin-top-30">Categories</h2>
<%- partial('_widget/category.ejs') %>
<!-- CATEGORIES END -->

<!-- BEGIN BLOG TAGS -->
<div class="blog-tags margin-bottom-20">
  <h2>Tags</h2>
  <%- partial('_widget/tag.ejs') %>
</div>
<!-- END BLOG TAGS -->

<!-- START ADVENT CALENDAR -->
<div class="margin-bottom-20">
  <h2>Advent Calendar</h2>
  <%- partial('_widget/advent-calendar.ejs') %>
</div>
<!-- END ADVENT CALENDAR -->
