<!-- CATEGORIES START -->
<h2 class="margin-top-30">カテゴリー</h2>
<%- partial('_widget/category.ejs') %>
<!-- CATEGORIES END -->
<!-- START ADVENT CALENDAR -->
<h2 class="margin-bottom-20">アドベントカレンダー</h2>
<%- partial('_widget/advent-calendar.ejs') %>
<!-- END ADVENT CALENDAR -->
