<!-- START SIDEBAR  -->
<h2 class="margin-top-30">カテゴリー</h2>
<%- partial('_widget/category.ejs') %>
<h2 class="margin-top-30">リンク</h2>
<%- partial('_widget/other-blog.ejs') %>
<h2 class="margin-top-30">アドベントカレンダー</h2>
<%- partial('_widget/advent-calendar.ejs') %>
<!-- END SIDEBAR -->
