<div class="widget-wrap">
  <div class="widget">
    <ul class="nav">
      <li><a href="http://qiita.com/advent-calendar/2020/future" target="_blank" rel="noopener">2020年</a></li>
      <li><a href="http://qiita.com/advent-calendar/2019/future" target="_blank" rel="noopener">2019年</a></li>
      <li><a href="http://qiita.com/advent-calendar/2018/future" target="_blank" rel="noopener">2018年</a></li>
      <li><a href="http://qiita.com/advent-calendar/2017/future" target="_blank" rel="noopener">2017年</a></li>
      <li><a href="http://qiita.com/advent-calendar/2016/future" target="_blank" rel="noopener">2016年</a></li>
      <li><a href="http://qiita.com/advent-calendar/2015/future" target="_blank" rel="noopener">2015年</a></li>
    </ul>
  </div>
</div>
