<div class="widget-wrap">
  <div class="widget">
    <ul class="nav">
      <li>
        <a href="http://qiita.com/advent-calendar/2017/future" target="_blank">2017年#1</a>
      </li>
      <li>
        <a href="https://adventar.org/calendars/2449" target="_blank">2017年#2</a>
      </li>
      <li>
        <a href="http://qiita.com/advent-calendar/2016/future" target="_blank">2016年</a>
      </li>
      <li>
        <a href="http://qiita.com/advent-calendar/2015/future" target="_blank">2015年</a>
      </li>
    </ul>
  </div>
</div>
