<div class="widget-wrap">
  <div class="widget">
    <ul class="nav">
      <li><a href="https://anchor.fm/futuretechcast" title="フューチャーグループの技術について深堀りするPodcastです" target="_blank" rel="noopener">ポッドキャスト</a></li>
      <li><a href="https://future.connpass.com/" title="経営とITをデザインするフューチャーの勉強会です" target="_blank" rel="noopener">勉強会Connpass</a></li>
      <li><a href="https://github.com/future-architect" title="Future's official open source repositories" target="_blank" rel="noopener">GitHub</a></li>
      <li><a href="https://note.future.co.jp/" title="フューチャーの公式note" target="_blank" rel="noopener">未来報</a></li>
      <li><a href="https://future-fintech.github.io/" title="Future Fintech EyE - 金融の未来を語るブログ" target="_blank" rel="noopener">Future Fintech EYE</a></li>
    </ul>
  </div>
</div>
