<div class="widget-wrap">
  <div class="widget">
    <ul class="nav">
      <li>
        <a href="https://note.future.co.jp/" target="_blank">未来報</a>
      </li>
      <li>
        <a href="https://future-fintech.github.io/" target="_blank">Future Fintech EYE</a>
      </li>
      <li>
        <a href="https://future.connpass.com/" target="_blank">Conpass</a>
      </li>
    </ul>
  </div>
</div>
