<div class="container">
  <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Categories</li>
  </ul>
  <section id="main">
    <h2 class="list-page">カテゴリから記事を探す</h2>
    <ul class="summary">
      <li><span class="summary-count"><%= count_categories() %></span><br><span class="summary-label">カテゴリ</span></li>
    </ul>
    <%- list_categories() %>
  </section>
</div>

