<div class="container">
  <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/articles">Blog</a></li>
    <li class="active"><%- page.category %></li>
  </ul>
  <section id="main">
    <h1><%- page.category %> カテゴリの記事一覧 <%= count_category(page.category) %>件</h1>
    <%- partial('_partial/archive', {pagination: config.category, index: true}) %>
  </section>
</div>
