<div class="container">
  <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Categories</li>
  </ul>
  <section id="main">
    <h1><%= count_categories() %>種類のカテゴリから記事を探す</h1>
    <%- list_categories() %>
  </section>
</div>

