<div class="container">
  <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Authors</li>
  </ul>
  <section id="main" class="margin-top-30">
    <div>
      <h2 class="list-page">Future Tech Cast</h2>
      <h3 class="list-page margin-top-50">エピソード一覧</h2>

        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/2tRu2zATOCk0XYD61TjVa5?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/7dEUQ88C3UlRSmVsMWGlsf?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/6WdjAtbfW0OyoNNkkchgQV?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/3a2OqZI094HkWGrD1i2DMU?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/2Q9QbioFW94AkUoO4QNTZj?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/2aMsvgrwg0JrgaFQcuEMn6?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/17VNnxnSVdms16BsIqWdcp?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/7cmgGqtPWZA3wvw2eWRPfl?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>





    </div>
  </section>
</div>
