<div class="container">
  <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/articles">Blog</a></li>
    <li class="active"><%- page.author %></li>
  </ul>
<section id="main">
 <h3><%- page.author %>が執筆した記事</h3>
 <%- partial('_partial/archive', {pagination: config.author, index: true}) %>
</section>
</div>
