<div class="container">
  <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Authors</li>
  </ul>
  <section id="main">
    <div>
      <h2>執筆者一覧 <%= count_authors() %> 人</h2>
      <%- list_authors() %>
    </div>
  </section>
</div>
