<div class="container">
  <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/articles">Blog</a></li>
    <li class="active"><%- page.category %></li>
  </ul>
<section id="main">
<h1><%- page.category %> カテゴリの記事一覧</h1>
 <%= site.posts.map(post => post.categories).filter(category => true)[0][1] %>
 <%- partial('_partial/archive', {pagination: config.category, index: true}) %>
</section>
</div>
