<% if(page.content){ %>
  <%- page.content %>
<% } else { %>
  <div class="container">
    <ul class="breadcrumb">
      <li class="active">Home</li>
    </ul>
    <%- partial('_partial/archive', {pagination: config.archive}) %>
    <div class="home-social-button">
      <div class="container">
      <%- partial('_partial/social-button') %>
      </div>
    </div>
  </div>
<% } %>

