<div class="container">
  <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/tags">Tags</a></li>
    <li class="active">Tagged: <%- page.tag %></li>
  </ul>
  <section id="main">
    <h1><%- page.tag %> タグの記事一覧 <%= count_tag(page.tag) %>件</h1>
    <%- partial('_partial/archive', {pagination: config.tag, index: true}) %>
  </section>
</div>

