<div class="container">
  <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Tags</li>
  </ul>
  <section id="main">
    <h1><%- page.tag %> タグから記事を探す <%= count_tags() %>件</h1>
    <%- tagcloud() %>
  </section>
</div>

